@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<p class="text-center">
    欢迎使用Wodsoft文档中心，这里包含了Wodsoft的统一技术文档。
</p>
<br />
<br />
<div class="card-columns">
    <div class="card text-center">
        <div class="card-block">
            <h4 class="card-title">ComBoost</h4>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-block">
            <h4 class="card-title">WebPresentation</h4>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-block">
            <h4 class="card-title">Wechat</h4>
        </div>
    </div>
</div>